ul {
  list-style: none;
}
ul li {
  width: 22%;
  text-align: center;
  min-height: 2em;
  padding: 1em;
  margin-left: 0.8%;
  margin-bottom: 1%;
  display: block;
  float: left;
  border: 1px solid black;
  background: transparent;
}
ul li:hover {
  border-color: #f0f;
  background: rgba(0, 0, 0, 0.05);
}
